<div class="home">
    <div class="col-md-8 content-section">
        <div class="title">
            最新新闻
        </div>
        <div class="text">
            <ul>
                <li ng-repeat="new in news">{{new.text}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4 content-section content-section-right">
        <div class="title">
            通知
        </div>
        <div class="text">
            <ul>
                <li ng-repeat="msg in msgs">{{msg.text}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-8 content-section">
        <div class="title">
            热点网站
        </div>
        <div class="text content-section">
            <div class="col-md-12 hot-site">
                <ul>
                    <li class="hot-site-item">
                        <a id="fenghuang-link" href="http://www.ifeng.com/" target="_blank"><span>凤 凰 网</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="baidu-link" href="https://www.baidu.com/" target="_blank"><span>百 &nbsp;&nbsp;&nbsp;&nbsp;度</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="weibo-link" href="http://weibo.com/" target="_blank"><span>新浪微博</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="hao123-link" href="http://www.hao123.com/" target="_blank"><span>hao123</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="tx-link" href="http://www.qq.com//" target="_blank"><span>腾 &nbsp;&nbsp;&nbsp;&nbsp;讯</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="youku-link" href="http://www.youku.com//" target="_blank"><span>优 酷 网</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="tianmao-link" href="http://www.tmall.com//" target="_blank"><span>天 &nbsp;&nbsp;&nbsp;&nbsp;猫</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="taobao-link" href="http://www.taobao.com//" target="_blank"><span>淘 &nbsp;&nbsp;&nbsp;&nbsp;宝</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="jingdong-link" href="http://www.jd.com//" target="_blank"><span>京东商城</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="wangyi-link" href="http://www.163.com//" target="_blank"><span>网 &nbsp;&nbsp;&nbsp;&nbsp;易</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="sohu-link" href="http://www.sohu.com//" target="_blank"><span>搜 &nbsp;&nbsp;&nbsp;&nbsp;狐</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="kuaidi-link" href="http://life.hao123.com/kuaidi" target="_blank"><span>快递查询</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="apple-link" href="http://www.apple.com/" target="_blank"><span>苹果官网</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="yidong-link" href="http://www.10086.cn/hb/" target="_blank"><span>中国移动</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="liantong-link" href="http://www.10010.com/hubei/" target="_blank"><span>中国联通</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="zhilian-link" href="http://www.zhaopin.com/" target="_blank"><span>智联招聘</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="toutiao-link" href="http://toutiao.com/" target="_blank"><span>今日头条</span></a>
                    </li>
                    <li class="hot-site-item">
                        <a id="huanqiu-link" href="http://www.huanqiu.com/" target="_blank"><span>环 球 网</span></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-5 other-site">
                <ul>
                    <li class="other-site-item">
                        <a href="http://www.hbzfhcxjst.gov.cn/ConfigWeb/Index.aspx" target="_blank"><span>湖北省住房和城乡建设厅</span></a>
                    </li>
                    <li class="other-site-item">
                        <a href="http://www.hbzljd.gov.cn/" target="_blank"><span>湖北省质量技术监督局</span></a>
                    </li>
                    <li class="other-site-item">
                        <a href="http://www.whjzyxh.org/" target="_blank">武汉建筑行业协会</a>
                    </li>
                    <li class="other-site-item">
                        <a href="http://jzzj.whjs.gov.cn/" target="_blank">武汉市建筑工程质量监督站</a>
                    </li>
                    <li class="other-site-item">
                        <a href="http://www.hbza,gov.cn" target="_blank">湖北省建设工程质量安全监督网</a>
                    </li>
                    <li class="other-site-item">
                        <a href="http://hbzpgov.gotoip55.com/" target="_blank">湖北省质量技术监督培训中心</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>