<div class="modal-header">
    <h3>状态编辑</h3>
</div>
<div class="modal-body">
    <div class="input-group">
        <span class="input-group-addon" id="addon-datetime">日期</span>
        <input type="text" class="form-control" disabled="false" aria-describedby="addon-datetime" ng-model="datetime">
    </div>
    <div class="input-group input-group-state-content">
        <span class="input-group-addon" id="addon-content">内容</span>
        <textarea class="form-control" rows="3" aria-describedby="addon-content" ng-model="state.content" />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>